{% extends 'core/base_admin.html' %}
{% load static %}

{% block title %}Crear usuario{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/admin_editar_usuario.css' %}">
{% endblock %}

{% block content %}

<div class="formulario-admin">
    <h2>Editar Usuario</h2>

        <form action="{% url 'admin_editar_usuario' usuario.id %}" method="post">
        {% csrf_token %}

        <p>
            {{ form.username.label_tag }}
            {{ form.username }}
        </p>
        <p>
            {{ form.entidad_federativa.label_tag }}
            {{ form.entidad_federativa }}
        </p>
        <p>
            {{ form.correo.label_tag }}
            {{ form.correo }}
        </p>
        <button type="submit" class="boton-accion">Guardar Cambios</button>
    </form>
</div>
    
{% endblock %}