{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Administrador</title>
    <link rel="stylesheet" href="{% static 'core/css/base_admin.css' %}">
    <link rel="icon" href="{% static 'core/img/zaclogo-removebg-preview.png' %}" type="image/png">
    {% block extra_css %}{% endblock %}
</head>
<body>
    
    <div class="barra-superior">
        <div class="barra-izquierda">
            <img src="{% static 'core/img/zaclogo.jpeg' %}" alt="Zacatecas Logo" class="logo-barra">
            <a href="https://zacatecas.gob.mx" class="link-zacatecas" target="_blank">zacatecas.gob.mx</a>
        </div>
        <div class="barra-derecha">
            <a href="{% url 'admin_revision_documentacion' %}" class="boton-inicio">Inicio</a>
            <a href="{% url 'admin_gestion_usuarios' %}" class="boton-usuarios">Usuarios</a>
            <a href="{% url 'admin_perfil' %}" class="boton-perfil">Perfil</a>
            <a href="{% url 'admin_perfil' %}" class="boton-anexos">Anexos</a>
            <a href="{% url 'logout' %}" class="boton-salir">Salir</a>
            
        </div>
    </div>
     
    <!-- Banner del Modelo 
    <div class="banner-modelo">
        <img src="{% static 'core/img/modelo_igualdad.jpg' %}" alt="Modelo Igualdad" class="logo-modelo-banner">
    </div>-->

    <main>
        {% block content %}
        <!-- Contenido específico de cada página se insertará aquí -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        Secretaría de las Mujeres · Gobierno del Estado de Zacatecas · semujer@zacatecas.gob.mx
    </footer>
</body>
</html>