.formulario-admin {
    max-width: 500px;
    margin: 40px auto;
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.formulario-admin h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.formulario-admin p {
    margin-bottom: 20px;
}

.formulario-admin label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
    color: #333;
}

.formulario-admin input,
.formulario-admin select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    background-color: white;
    transition: border-color 0.3s ease;
}

.formulario-admin input:focus,
.formulario-admin select:focus {
    border-color: #621d28;
    outline: none;
}

/* Contenedor de botones */
.botones-form {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* Botones */
.boton-principal, .boton-secundario {
    flex: 1;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

/* Guardar Cambios */
.boton-principal {
    background-color: #541722;
    color: white;
}

/* Cambiar Contraseña */
.boton-secundario {
    background-color: #541722;
    color: white;
}

.boton-principal:hover, .boton-secundario:hover {
    opacity: 0.9;
}
